@{

}
<!DOCTYPE html>
<html>
<head>
    <title>WinCast Screen Viewer</title>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/screenViewer.js"></script>
    
</head>
<body>
    <div style="float:left">
        <input id="inputSessionID" placeholder="Enter client session ID." type="text" onkeypress="if (event.keyCode == 13) { connectToClient() }" />
        <button id="buttonConnect" onclick="connectToClient()">Connect</button>
    </div>
    <div style="float:right; text-align:right; margin-right: 40px">
        <label style="font:.8em sans-serif">Client download link:</label>
        <input id="inputClientLink" readonly value="" style="font:.8em; color: gray; cursor: pointer" onclick="this.select()"/>
        <button type="button" onclick="copyClientLink()">Copy</button>
    </div>
    <img id="imgMenu" src="~/Assets/Images/HamburgerMenu_16x.svg" />
    
    <canvas id="canvasScreenViewer" height="400" width="800" style="width: 100%; margin-top: 10px; border: 1px groove gray; background-color: lightgray;"></canvas>

    <style>
        #imgMenu {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 25px;
            cursor: pointer;
        }
        #imgMenu:hover {
            border: 1px groove deepskyblue;
        }
    </style>
</body>
</html>
