@{

}
<!DOCTYPE html>
<html>
<head>
    <title>InstaTech Screen Viewer</title>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/screenViewer.js"></script>
    
</head>
<body>
    <div>
        <label for="inputSessionID">Client session ID: </label>
        <input id="inputSessionID" type="text" onkeypress="if (event.keyCode == 13) { connectToClient() }" />
        <button id="buttonConnect" onclick="connectToClient()">Connect</button>
    </div>
    <canvas id="canvasScreenViewer" style="width:100%; margin-top:10px; border:1px solid gray; background-color: lightgray"></canvas>
</body>
</html>
